<head> 
		<title> Mother's Day</title>
		<link rel="stylesheet" type="text/css" href="link.css" />
		<link href='http://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
	</head>

    hl{
        color: #FFBC00;
        text-align:center; 
    }

h1{
        border: solid 8px rgb(6, 121, 209); 
        color: #FFBC00;
        font-size: 40px;
        font-family: "Passion One"; 
        margin-bottom: 0px;
        text-align:center;  

}

body{ 
    text-align:center; 
    color: brown;
    background-color: rgb(102, 72, 131);
}
